{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center; color:#d14984; margin-top:30px;">
    Order Details 📦
</h1>

<div style="
    width:70%; 
    margin:30px auto; 
    background:white; 
    padding:30px; 
    border-radius:15px; 
    border:2px solid #f7b6c6;
">

    <h2 style="color:#d14984;">Order #{{ order.id }}</h2>

    <p><strong>Date:</strong> {{ order.created_at }}</p>
    <p><strong>Status:</strong> {{ order.status }}</p>
    <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>

    <hr style="margin:20px 0;">

    <h3 style="color:#b7376f;">Items:</h3>

    {% for item in items %}
    <div style="margin-bottom:10px;">
        <p>
            <strong>{{ item.product_name }}</strong>  
            (x{{ item.quantity }}) —  
            ₹ {{ item.product_price }}
        </p>
    </div>
    {% endfor %}

    <hr style="margin:20px 0;">

    <h3 style="color:#b7376f;">Delivery Address:</h3>
    <p>{{ order.full_name }}</p>
    <p>{{ order.address }}</p>
    <p>{{ order.city }}, {{ order.state }} - {{ order.pincode }}</p>
    <p><strong>Phone:</strong> {{ order.phone }}</p>
    <p><strong>Email:</strong> {{ order.email }}</p>

    <hr style="margin:20px 0;">

    <h2 style="color:#d14984; text-align:right;">
        Total: ₹ {{ order.total_price }}
    </h2>

</div>

{% endblock %}
