
{%extends "base.html"%}
{%block content%}


<h1 style="color: rgb(90, 9, 9);">About Our Flower Shop</h1>

<p>Welcome to Blossom Lane, where every petal has a story.
We believe flowers are more than decorations. They are smiles you can hold, emotions you can gift, and memories wrapped in soft colors.

Our shop offers fresh flowers handpicked daily from trusted local growers. Whether it’s a birthday, a celebration, a wedding, or just a moment you want to make special, we create bouquets and arrangements with care, creativity, and love.

Our team enjoys mixing colors that feel warm, shapes that feel alive, and scents that remind you of gentle mornings. We also customize bouquets to match your feelings and occasions, because every customer is unique and so is every flower.

At Blossom Lane, we don’t just sell flowers.
We help you share feelings beautifully.</p>

{%endblock%}